

<% if current_user %>
<h2>wellcome <%= current_user.name %></h2>
<% end %>


<h3>New Secret</h3>
<form action="/secrets" method="post">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<textarea rows="3" cols="40" name="secret[content]"></textarea><br>
 <input type="submit" name="submit" value="create Secret" class='btn btn-primary'>
</form>

<h3>Secrets</h3>
<ul>

<% @secrets.each do |secret| %>
    <li><%= secret.content%>
    <p><%= secret.likes.count %>Likes</p>
    <% if current_user == secret.user %>
    <%= link_to "delete", destroy_secrets_path(secret) %>
     
    <% end %>
<% end %>

</ul>

  
<h3>Secrets Liked</h3>
    <% @secrets_liked.each do |secret| %>
    <%= secret.likes.count%>
    <%= secret.content %>
    <% end %>

   