<h3>Welcome: <%= current_user.name %>
</h3>
<h1>Secrets page</h1>



<% @secrets.each do |secret| %>
    <p>
        <%= secret.content %>
    </p>
    <p>
        <%= secret.likes.count %>Likes
    </p>
    <% @secrets.each do |secret|%>
        <% end %>
            <% if current_user==secret.user %>
                <p>
                    <%= secret.content%>
                        <%= link_to "delete" , destroy_secrets_path(secret) %>
                            <% else %>
                                <% if current_user.secrets_liked.include? secret %>
                                    <form action="/secrets/<%= secret.id %>/unlike" method="post">
                                        <input type="hidden" name="_method" value="delete" />
                                        <input type="hidden" name="authenticity_token"
                                            value="<%= form_authenticity_token %>" />
                                        <input type="submit" name="" value="Unlike" />
                                    </form>
                                    <% else %>
                                        <form action="/secrets/<%=secret.id %>/like" method="post">
                                            <input type="hidden" name="authenticity_token"
                                                value="<%= form_authenticity_token %>" />
                                            <input type="submit" name="" value="like" />
                                        </form>
                                        <% end %>
                                            <% end %>
                                                <% end %>
